.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: opacity 0.15s linear;
}
