.feynman {
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  min-height: 790px;  /*исправлено*/
  padding-top: 100px;
  background-color: #f2f2f2;
  color: #000000;
}
