div {
  border: 1px solid red;
}

p {
  border: 1px solid rgb(3, 52, 158);
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*header*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display:flex;
  background-color: #f2f2f2;
    /* выше установили ограничения для секции */
}

.logo_place-header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 6;
}

.logo {
  width: 183px;
  height: 32px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  align-self: center;
  z-index: 5;
}
.header__h1 {
  font-size: 102px;
  font-weight: bold;
  line-height: 92px;
  margin-top: 0;
  margin-bottom: 0;
}

.header__link {
  color: #2f80ed;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left:64px;
  bottom: 30px;
  z-index: 4;
}

.header__text {
  line-height: 25px;
  font-size: 18px;
  margin: 0;
}

.header__main-illustration {
  position:absolute;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  z-index: 3;
  /*background-size: cover;*/
}

.header__picture {
  width: 100%;
  height: 100%;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position:absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
  z-index: 2;
}

/* и элемента с модификатором вида ключ-значение */


.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.two-columns {
  width: 80%;
  display:flex;
  justify-content: space-between;
}

.two-columns__brif {
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph {
  margin-bottom: 30px;


}

.margin-bottom {
  margin-bottom: 0;
}

.two-columns__text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  display: inline-block;

}
.two-columns__h1 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.digits {
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.section-title {
  width: 60%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

}

.section-title__h1 {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
}


.section-subtitle__h1 {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.table {
  width: 1100px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-right: 0;
}

.table__h3 {
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

.table__heading {
  margin-bottom: 20px;
}

.table__text_margin-top {
  margin-top: 20px;
}

/*блок feynman*/

.feynman {
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  height: 790px;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.feynman__title {
  width: 648px;
  top: 100px;
  z-index: 6;
}

.feynman__h1 {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  margin: 0;
}

.feynman__subtitle {
  margin-top: 70px;
  z-index: 9;
}

.feynman__h2 {
  line-height: 51px;
  font-size: 36px;
  margin: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__h3 {
  line-height: 51px;
  font-size: 36px;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  padding-top: 90px;
  background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
