.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-fit: cover;            /*Огромное спасибо за подсказку Nikita Zhmaev - решил проблему по вашей рекомендации */                                 /*Огромное спасибо за подсказку Nikita Zhmaev - решил проблему по вашей рекомендации */
  object-position: top;
}
